:root {
    --size-mobile: 375px;
    --size-desktop: 1440px;
    --color-bright-orange: hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);
    
    --color-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-light-gray: hsl(0, 0%, 95%);

    --font-lexend-deca: 'Lexend Deca', sans-serif;
    --font-big-shoulders-display: 'Big Shoulders Display', cursive;
}

body {
    font-size: 15px;
}