/* -------------------- */
/* Custom properties    */
/* -------------------- */

:root {
  /* colors */
  --clr-dark: 234 12% 34%;
  --clr-gray: 229 6% 66%;
  --clr-light: 0 0% 98%;
  --clr-red: 0 78% 62%;
  --clr-cyan: 180 62% 55%;
  --clr-orange: 34 97% 64%;
  --clr-blue: 212 86% 64%;

  /* font-families */
  --ff-sans-serif: "Poppins", sans-serif;

  /* font-sizes */
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 0.9375rem;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make image easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
