.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex--column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.align-center { align-items: center; }
.justify-center { justify-content: center; }

.text-center {  text-align: center; }

.lh-1 { line-height: 1; }

/* colors */
.text-dark { color: hsl(var(--clr-dark)); }
.text-light { color: hsl(var(--clr-light)); }
.text-accent { color: hsl(var(--clr-accent)); }
.text-s-dark { color: hsl(var(--clr-s-dark)); }
.text-s-accent { color: hsl(var(--clr-s-accent)); }

.bg-dark { background-color: hsl(var(--clr-dark)); }
.bg-light { background-color: hsl(var(--clr-light)); }
.bg-accent { background-color: hsl(var(--clr-accent)); }
.bg-s-dark { background-color: hsl(var(--clr-s-dark)); }
.bg-s-light { background-color: hsl(var(--clr-s-light)); }


/* font sizes */
.fs-800 { font-size: var(--fs-800); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }

/* font families */
.ff-sans-serif { font-family: var(--ff-sans-serif); }

/* font weights */
.fw-700 { font-weight: 700; }
.fw-500 { font-weight: 500; }
.fw-400 { font-weight: 400; }

/* letter spacing */
.ls-tight { letter-spacing: -0.015em; }