/* ------------------------- */
/* Custom properties         */
/* ------------------------- */

:root {
  /* colors */
  --clr-dark: 300 43% 22%;
  --clr-light: 0 0% 100%;
  --clr-accent: 333 80% 67%;

  --clr-s-dark: 303 10% 53%;
  --clr-s-light: 300 24% 96%;

  /* font sizes */
  --fs-800: 2.375rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;

  /* font families */
  --ff-sans-serif: "League Spartan", sans-serif;
}

@media screen and (min-width: 64rem) {
  :root {
    --fs-800: 3.375rem;
  }
}

/* ---------------- */
/*     My rules     */
/* ---------------- */

.container {
  max-width: 35rem;
  margin: 4.375rem clamp(0.5rem, 6.4vw, 1.5rem);
  --gap: 3rem;
}

.wrapper {
  --gap: 2.625rem;
}

.wrapper > * {
  --gap: 1rem;
}

/* Section - #ratings */

.rating__card {
  background-color: hsl(var(--clr-accent) / 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
}

.stars {
  --gap: 0.5rem;
}

/* Section - #feedbacks */

.feedbacks {
  --gap: 1rem;
}

.feedback__card {
  border-radius: 0.5rem;
  padding: clamp(1rem, 8.53vw, 2rem);
  --gap: 1.5em;
}

.customer-details {
  grid-template-columns: auto 1fr;
  line-height: 1;
  column-gap: 1.22em;
  align-items: center;
  --gap: 0;
}

.customer-name {
  font-size: inherit;
}

.customer-varified {
  color: hsl(var(--clr-accent) / 0.8);
}

.customer-pic {
  grid-row: 1/3;
  border-radius: 50%;
  max-width: 2.33em;
}
