:root {
  --size-mobile: 375px;
  --size-desktop: 1440px;

  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cyan-active: hsl(158, 36%, 30%);
  --color-cream: hsl(30, 38%, 92%);
  --color-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);

  --font-montserrat: "Montserrat", sans-serif;
  --font-fraunces: "Fraunces", serif;

  --font-size-p: 14px;

  --border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat);
  margin: 0;
  background-color: var(--color-cream);
}

p {
  font-size: var(--font-size-p);
  color: var(--color-dark-grayish-blue);
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 1rem;
}

.container {
  max-width: 21.25rem; /* 340px */
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.product-image {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.content {
  padding: 1.3rem;
}

.top-text {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.75rem;
  font-weight: 700;
  opacity: 0.8;
}

.title {
  text-transform: capitalize;
  font-family: var(--font-fraunces);
  font-weight: bold;
  margin: 6px 0;
}

.sub-title {
  line-height: 1.5rem;
}

.current-price {
  font-size: 2rem;
  color: var(--color-dark-cyan);
  font-family: var(--font-fraunces);
  margin-bottom: 1rem;
  font-weight: bold;
}

.previous-price {
  font-size: 0.85rem;
  text-decoration: line-through;
  font-family: var(--font-montserrat);
  color: var(--color-dark-grayish-blue);
  vertical-align: middle;
  margin-left: 1rem;
  font-weight: normal;
}

.add-to-cart {
  width: 100%;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--color-dark-cyan);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.add-to-cart::before {
  content: url("./images/icon-cart.svg");
  margin-right: 0.7rem;
  vertical-align: middle;
}

.add-to-cart:hover {
  background-color: var(--color-cyan-active);
}

span[class~="sr-only"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    max-width: 35rem; /* 560px */
  }

  .product-image {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    flex: 1 0 50%;
  }

  .content {
    flex: 1 0 50%;
  }
}
