@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap");

:root {
  --color-primary: hsl(215, 51%, 70%);
  --color-active: hsl(178, 100%, 50%);
  --color-active-lite: hsla(178, 100%, 50%, 0.4);
  --color-background: hsl(217, 54%, 11%);
  --color-card-background: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-heading: hsl(0, 0%, 100%);

  --size-mobile: 375px;
  --size-desktop: 1440px;

  --font-size-p: 18px;

  --border-radius: 12px;

  --size-nft-card: 320px;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  background-color: var(--color-background);
}

main {
  height: calc(100vh - 50px);
  min-height: 660px;
  display: flex;
  align-items: center;
}

p {
  font-size: var(--font-size-p);
}

.nft-card {
  margin: auto;
  width: var(--size-nft-card);
  background-color: var(--color-card-background);
  padding: 25px;
  margin: 20px auto 5px auto;
  border-radius: var(--border-radius);
  transition-duration: 0.6s;
}

.nft-card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.nft-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.nft-image-container > .icon-view {
  content: url("./images/icon-view.svg");
  width: var(--size-nft-card);
  height: var(--size-nft-card);
  display: grid;
  align-content: center; 
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  padding: 37%;
  transform: translate(-50%, -101%);
  border-radius: var(--border-radius);
  background-color: var(--color-active-lite);
  visibility: hidden;
}

.nft-image-container:hover > .icon-view {
  visibility: visible;
}

.title {
  color: var(--color-heading);
}

.title:hover {
  color: var(--color-active);
}

.subtitle {
  color: var(--color-primary);
  font-weight: 200;
  margin: 12px 0;
}

.price-deadline {
  display: flex;
  justify-content: space-between;
  color: var(--color-active);
  align-items: center;
  margin: 23px 0;
}

.price {
  margin: 0;
}

.price::before {
  content: url("./images/icon-ethereum.svg");
}

.deadline::before {
  content: url("./images/icon-clock.svg");
}

.price::before,
.deadline::before {
  margin-right: 6px;
  vertical-align: middle;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-line);
  width: 100%;
  margin: 0;
}

.creator {
  display: flex;
  margin-top: 20px;
  height: 35px;
  align-items: center;
}

.avatar {
  height: 100%;
  margin-right: 16px;
  padding: 1px;
  border-radius: 50%;
  background-color: var(--color-heading);
}

.avatar img {
  height: 100%;
}

.creator > .name {
  color: var(--color-primary);
  font-weight: 200;
  font-size: 1.1rem;
}

.creator > .name b {
  color: var(--color-heading);
  font-weight: 400;
}

.creator > .name b:hover {
  color: var(--color-active);
}

/* footer */

footer {
  height: 50px;
  display: grid;
  align-items: center;
}

.attribution {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: inherit;
  font-weight: 500;
}
